<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<button><%= link_to "New post", new_post_path %></button>

<div id="posts">
  <table data-controller="search">
    <thead>
      <tr>
        <th>
          <input type="text" id="search" placeholder="search posts" 
           data-action="input->search#filterPosts" />
        </th>
        <th>Post Title</th>
        <th>Post Content</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td></td>
          <td data-search-target="title"><%= post.title %></td>
          <td data-search-target="content"><%= post.content %></td>
          <td><%= link_to "Show post", post_path(post.id)%></td>
        </tr>
      <%end%>
      <div>
        <% unless !@posts.blank? %>
          <h3>Sorry,requested post is not available.</h3>
        <%end%>
      </div>
    </tbody>
    
  </table>
</div>

